@{ 
	ViewData["Site"] = "TestSite";
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" href="~/favicon.ico" type="image/x-icon" calysto-append-version="true" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - @ViewData["Site"]</title>
	@this.Calysto().ScriptManager(s =>
{
	if (Calysto.Utility.CalystoTools.IsDebugDefined)
		s.RegisterDefinedWords("DEBUG");

	s.Compression = Microsoft.Ajax.Utilities.Css2.MinifyModeEnum.Shrink;
	//s.Bundle = true;
	s.RegisterJQuery();
	//s.RegisterJQueryValidate();
	s.RegisterBootstrap();
	s.RegisterFontAwesome();
	s.RegisterEngineCSS();
	s.RegisterEngineJS();
	s.RegisterWebService(typeof(Calysto.Web.TestSite.Web.VS.Home.HomeController));
	s.RegisterScriptFile("~/css/site.css");
	s.RegisterScriptFile("~/css/validators.css");
	s.UseMvcAjaxFormSubmit();
	//s.UseClientSideValidation();
})
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
			<div class="container">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@ViewData["Site"]</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Routes" asp-action="Index">Routes</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Routes" asp-action="WebMethods">WebMethods</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="CalystoHome" asp-action="Index">CalystoUI</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" href="~/blazor">Blazor</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class="container main-content">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>
	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2020 - Calysto.Genesis.WebSite - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>

</body>
</html>
